<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/archiveView.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArchiveWeb - <%= archiveName %></title>
  </head>

  <noscript>
    <div class="javascript-error-background">
      <div class="javascript-error">
        This web app requires JavaScript to be enabled in order to function
        properly.<br />
        Please enable JavaScript in your browser settings or unblock scripts,
        and try again.
      </div>
    </div>
  </noscript>

  <script
    language="JavaScript"
    type="text/javascript"
    src="/js/jquery-3.6.3.min.js"
  ></script>

  <script
    language="JavaScript"
    type="text/javascript"
    src="/js/archiveView.js"
  ></script>

  <body onload="loadAndFadeOnScroll()">
    <div class="title-box">
      <!-- create a grid of 1 row 2 columns that has the h1 and p in one side the button and entrycount in the other -->
      <div class="title-box-grid">
        <div>
          <h1><%= archiveName %></h1>
        </div>
        <div>
          <div class="refresh-entry-info">
            <p id="entrycount" style="text-align: right"></p>
            <button class="refresh-button" onclick="refresh()">
              <img
                src="/assets/refresh.png"
                style="filter: invert(100%); height: 25px; width: 25px; align-self: center;"
                alt="refresh"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <% if (archiveEntries.length == 0) { %>
    <p
      style="
        text-align: center;
        font-weight: bold;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
      "
    >
      This archive is empty. <br />Click refresh to gather new entries!
    </p>
    <% } %>
    <p
      id="loading-text"
      style="text-align: center; font-weight: bold; margin-top: 2.5%"
    >
      Opening the archive...
    </p>
    <div class="content-grid">
      <!-- for each item in each folder of the archive entries -->
      <% let i = 0; archiveEntries.forEach(function(item) { %> <% i++ %>
        
      <div class="content" onclick="expandedView('<%= item.id %>n')">
        <!-- display the user information -->
        <div class="user-box">
          <img class="avatar-image" id="avatar-<%= i %>" alt="avatar"/>
          <p class="username-text" id="user-<%= i %>" />
        </div>

        <!-- display the content -->
        <p class="content-text" id="data-<%= i %>" />

        <!-- display the media -->
        <div class="image-grid">
          <% item.mediaFiles.forEach(function(mediaFile) { if
          (mediaFile.endsWith(".jpg" || ".png")) { let split =
          mediaFile.split("."); let previewImage = split[0] + "_preview." +
          split[1]; %>
          <div class="image-grid-item" style="pointer-events: none;">
            <img
              class="media-image"
              data-src="<%= '../datastructure/' + archiveName + '/assets/' + previewImage %>"
              style="width: 100%"
              alt="media"
            />
          </div>
          <% } else if (mediaFile.endsWith(".mp4")) { %>
          <div class="image-grid-item" style="pointer-events: none;">
            <video
              class="media-video"
              autoplay
              muted
              loop
              style="width: 100%"
              data-src="<%= '../datastructure/' + archiveName + '/assets/' + mediaFile %>"
              type="video/mp4"
            />
          </div>
          <% } %> <% }); %>
        </div>

        <!-- request the json file using the getJson() function using JQuery -->
        <script>
          try {
              const path = "../datastructure/" + `<%= archiveName %>`.toString() + "/assets/" + `<%= item.informationFile %>`.toString();
              $(document).ready($.getJSON(path, function(data) {
                  document.getElementById("avatar-" + <%= i %>).src = data.author.profile_image;
                  document.getElementById("user-" + <%= i %>).innerHTML = "@" + data.author.name;
                  document.getElementById("data-" + <%= i %>).innerHTML = data.content;
              }));
          } catch (error) {
              console.log(error);
          }
        </script>
      </div>
      <% }); %>
      <script>
        document.getElementById("entrycount").innerHTML = <%= i %> + " entries";
      </script>
    </div>

      <div class="expanded-view">
        <div class="user-box">
          <img class="avatar-image" id="expanded-view-avatar" alt="avatar" src="/assets/default-avatar.png"/>
          <p class="username-text" id="expanded-view-username"> @test </p>
          <button class="expanded-view-close-button" onclick="closeExpandedView()">
            <img
              src="/assets/close-button.png"
              style="filter: invert(100%); width: 2rem; height: 2rem;"
              alt="refresh"
            />
          </button>
        </div>
        <p class="content-text" id="expanded-view-contenttext"> this is a sentence that is meant to emulate the sentence that might be found on a twitter tweet. </p>
        <div class="expanded-media-carousel">
      </div>
  </body>
</html>
