<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/settingsView.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArchiveWeb - Creating archive</title>
  </head>

  <noscript>
    <div class="javascript-error-background">
      <div class="javascript-error">
        This web app requires JavaScript to be enabled in order to function
        properly.<br />
        Please enable JavaScript in your browser settings or unblock scripts,
        and try again.
      </div>
    </div>
  </noscript>

  <body>
    <div class="title-box">
      <h1>ArchiveWeb</h1>
      <p>Storing the essentials since 2023</p>
    </div>
    <div class="settings-box">
      <div class="settings-panel">
        <p style="font-weight: bold; margin-left: 2.5%">Creating archive</p>
        <% if (error) { %>
        <p
          style="color: rgb(180, 46, 46); font-weight: bold; margin-left: 2.5%"
        >
          Error: <%= error %>
        </p>
        <% } %>
        <form
          method="POST"
          action="/submit-create"
          style="display: flex; flex-direction: column; margin: 5%"
        >
          * Archive name: <input type="text" name="name" required="true" />
          <br />
          * Archive source URL:
          <input type="text" name="source" required="true" />
          <br />
          Cookies if required: <input type="text" name="cookies" />
          <br /><br /><br />
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
