body {
    margin: 0;
    background-color: #23272a;
    color: white;
    font-family: "Bahnschrift Light";
}

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    width: 75%;
    height: 10vh;
    margin: 10px 0;
    background-color: #404abe;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #5865f2;
}

.javascript-error-background {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #23272a;
}

.javascript-error {
    display: flex;
    color: rgb(180, 46, 46);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    background: #1e2124;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #3e4244;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #404abe;
}